$prim: #ff4444;
$primDark: #e52121;
$second: #21e521;
$dim: #f4f7fd;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: $dim;
  color: #414141;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

@import 'auth', 'home';
