$prim: #ff4444;
$primDark: #e52121;
$second: #21e521;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

@import 'auth';
